.card-img{
    display: flex;
    position: relative;
}

.card-tag{
    text-transform: uppercase;
    font-size: var(--font-xsmall);
    color: var(--light-font);
    background-color: var(--primary-900);
    padding: var(--spacing-8) var(--spacing-12);
    position: absolute;
    right: 0;
}

.card-img img {
    animation: fade .7s;
}

.card-img-back{
    display: none;
}

.card-img:hover .card-img-back{
    display: block;
}

.card-img:hover .card-img-front{
    display: none;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-coleccion{
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-transform: uppercase;
}

.card-nombre{
    font-size: var(--font-medium);
    font-weight: 700;
    color: var(--dark-font);
    text-transform: uppercase;

}

.card-precio{
    font-size: var(--font-small);    
}

.card-promo{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
    text-transform: uppercase;
}


