.footer{
    padding: var(--spacing-68);
    background-color: var(--dark-solid);
}

.footer-copy{
margin: var(--spacing-16);
color: var(--light-font);
text-align: center;
font-size: var(--font-small)
}